.playlist-container {
  background:black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollx-section {
  display: flex;
  overflow-x: scroll;
  width: 61.5vw;
  height: 25.19vw;
  background: lightgrey;
}

.playlist-item {
  width: 25vw;
}


::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #aa00ff;
}

.trackAndPlayer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em
}

.playlist-name {
  color : white;
}

.category-title {
  color: #aa00ff;
  font-family: "Schoolbell", cursive;
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
  margin-top: -1.3em;
  font-weight: lighter;
  animation: fade 0.7s ease;
  padding-bottom: 0.5vw;
}

@keyframes fade {
  0% {
    opacity: 0;
}
}

.player {
  animation: fade 1s ease;
}

.player:focus {
  outline: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
}
}

@media all and (max-device-width: 480px)
{
  .scrollx-section {
    min-width: 15vw;
    background: #eee;
  }

  .playlist-item {
    height: 100%;
  }

  .trackAndPlayer-container {
    justify-content: center;
    margin-top: 2em;
  }

  .trackAndPlayer-container h2 {
    display: none;
  }

  .track-container {
    width: auto;
  }

  .tracks p {
    font-size: 25px;
    margin: 0;
    font-family: sans-serif;
  }
  .category-title {
   display: none;
  }
}










